{% extends 'basic.html' %} 
{% block title %} About Us {% endblock %}
{% block body %}
<h1 >About Us</h1>
<hr>
<p>
    System which allows user to upload a CSV file which contains both valid and invalid emails... System would then segregate valid emails from invalid ones...The User can then send bulk mail to all the valid email ID's...
</p>
<p>
    A bulk email is a marketing message sent by a brand to multiple recipients at once. It aims to promote a business, sell goods, and develop good relationship with clients.
</p>
{% endblock %}
