{% extends 'basic.html' %} 
{% block title %} Home {% endblock %} 
{% block body %}

<h4>A Mass Mail Dispatcher is a system which sends mail to multiple valid emails in one shot !</h4>
<hr>
<h2>Steps to follow : </h2>
<ol>
    <li>Sign Up, if you haven't already</li>
    <li>Log In using your Username and Password</li>
    <li>Go to "Your Account" page now</li>
    <li>Upload a CSV file(only CSV file is accepted)</li>
</ol>

<hr>

<h2>Features :- </h2>
<ul>
    <li>You can view valid emails and invalid emails present in that CSV file</li>
    <li>Send a bulk Mail to all the valid emails in one shot !</li>
    <li>Saves time and Energy</li>
</ul>
{% endblock  %}
